default/Валидация xml файла МЧД и файла подписи.json
{
  "snapshotMetadata" : {
    "version" : 2,
    "timestamp" : 1703103450113,
    "author" : "gren-d-AlVGlotov@gk.rosatom.local",
    "comments" : "Добавление параметра esik_kspd_test.host (Глотов А.В)"
  },
  "flowContents" : {
    "identifier" : "66cc13a0-2c99-323d-b649-09039cb34c75",
    "name" : "Валидация xml файла МЧД и файла подписи",
    "comments" : "",
    "position" : {
      "x" : 1688.0,
      "y" : 2128.0
    },
    "processGroups" : [ {
      "identifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
      "name" : "Подготовка ответа для SAP",
      "comments" : "",
      "position" : {
        "x" : 1736.0,
        "y" : 184.0
      },
      "processGroups" : [ ],
      "remoteProcessGroups" : [ ],
      "processors" : [ {
        "identifier" : "6b43a7fc-7c74-3435-ac2b-a6b3f2bf61b1",
        "name" : "DuplicateFlowFile",
        "comments" : "",
        "position" : {
          "x" : 544.0,
          "y" : 136.0
        },
        "type" : "org.apache.nifi.processors.standard.DuplicateFlowFile",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-nar",
          "version" : "1.12.1.6"
        },
        "properties" : {
          "Number of Copies" : "1"
        },
        "propertyDescriptors" : {
          "Number of Copies" : {
            "name" : "Number of Copies",
            "displayName" : "Number of Copies",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          }
        },
        "style" : { },
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "executionNode" : "ALL",
        "penaltyDuration" : "30 sec",
        "yieldDuration" : "1 sec",
        "bulletinLevel" : "WARN",
        "runDurationMillis" : 0,
        "concurrentlySchedulableTaskCount" : 1,
        "autoTerminatedRelationships" : [ ],
        "scheduledState" : "ENABLED",
        "componentType" : "PROCESSOR",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "a773d432-c75c-377e-b409-3f8f65d97116",
        "name" : "RouteOnAttribute",
        "comments" : "",
        "position" : {
          "x" : 544.0,
          "y" : 344.0
        },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-nar",
          "version" : "1.12.1.6"
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "part1" : "${copy.index:equals('0')}",
          "part2" : "${copy.index:equals('1')}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "name" : "Routing Strategy",
            "displayName" : "Routing Strategy",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "part1" : {
            "name" : "part1",
            "displayName" : "part1",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "part2" : {
            "name" : "part2",
            "displayName" : "part2",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          }
        },
        "style" : { },
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "executionNode" : "ALL",
        "penaltyDuration" : "30 sec",
        "yieldDuration" : "1 sec",
        "bulletinLevel" : "WARN",
        "runDurationMillis" : 0,
        "concurrentlySchedulableTaskCount" : 1,
        "autoTerminatedRelationships" : [ "unmatched" ],
        "scheduledState" : "ENABLED",
        "componentType" : "PROCESSOR",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "823d27b0-49fe-3f3d-b48c-e9251331313f",
        "name" : "AFMergeContent",
        "comments" : "",
        "position" : {
          "x" : 560.0,
          "y" : 1072.0
        },
        "type" : "ru.greenatom.af.processors.custom.AFMergeContent",
        "bundle" : {
          "group" : "ru.greenatom.af.processors.custom",
          "artifact" : "af-merge-content-nar",
          "version" : "1.12.1.3"
        },
        "properties" : {
          "Keep Path" : "false",
          "Merge Strategy" : "Defragment",
          "Attribute Strategy" : "Keep Only Common Attributes",
          "Compression Level" : "1",
          "Maximum Number of Entries" : "2",
          "Minimum Group Size" : "0 B",
          "Maximum number of Bins" : "5",
          "Tar Modified Time" : "${file.lastModifiedTime}",
          "Delimiter Strategy" : "Filename",
          "Merge Format" : "Multipart Concatenation",
          "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
          "Minimum Number of Entries" : "2"
        },
        "propertyDescriptors" : {
          "Keep Path" : {
            "name" : "Keep Path",
            "displayName" : "Keep Path",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Maximum Group Size" : {
            "name" : "Maximum Group Size",
            "displayName" : "Maximum Group Size",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Merge Strategy" : {
            "name" : "Merge Strategy",
            "displayName" : "Merge Strategy",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Attribute Strategy" : {
            "name" : "Attribute Strategy",
            "displayName" : "Attribute Strategy",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Compression Level" : {
            "name" : "Compression Level",
            "displayName" : "Compression Level",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Maximum Number of Entries" : {
            "name" : "Maximum Number of Entries",
            "displayName" : "Maximum Number of Entries",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Minimum Group Size" : {
            "name" : "Minimum Group Size",
            "displayName" : "Minimum Group Size",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Maximum number of Bins" : {
            "name" : "Maximum number of Bins",
            "displayName" : "Maximum number of Bins",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Tar Modified Time" : {
            "name" : "Tar Modified Time",
            "displayName" : "Tar Modified Time",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Delimiter Strategy" : {
            "name" : "Delimiter Strategy",
            "displayName" : "Delimiter Strategy",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Merge Format" : {
            "name" : "Merge Format",
            "displayName" : "Merge Format",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Footer File" : {
            "name" : "Footer File",
            "displayName" : "Footer",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Max Bin Age" : {
            "name" : "Max Bin Age",
            "displayName" : "Max Bin Age",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Demarcator File" : {
            "name" : "Demarcator File",
            "displayName" : "Demarcator",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Correlation Attribute Name" : {
            "name" : "Correlation Attribute Name",
            "displayName" : "Correlation Attribute Name",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Header File" : {
            "name" : "Header File",
            "displayName" : "Header",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "mergecontent-metadata-strategy" : {
            "name" : "mergecontent-metadata-strategy",
            "displayName" : "Metadata Strategy",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Minimum Number of Entries" : {
            "name" : "Minimum Number of Entries",
            "displayName" : "Minimum Number of Entries",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          }
        },
        "style" : { },
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "executionNode" : "ALL",
        "penaltyDuration" : "30 sec",
        "yieldDuration" : "1 sec",
        "bulletinLevel" : "WARN",
        "runDurationMillis" : 0,
        "concurrentlySchedulableTaskCount" : 1,
        "autoTerminatedRelationships" : [ "original" ],
        "scheduledState" : "ENABLED",
        "componentType" : "PROCESSOR",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "9a69d621-f4c1-3a56-a59c-cc98a7875b29",
        "name" : "HandleHttpResponse",
        "comments" : "",
        "position" : {
          "x" : -56.0,
          "y" : 1208.0
        },
        "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-nar",
          "version" : "1.12.1.6"
        },
        "properties" : {
          "HTTP Context Map" : "12ab6f3d-065e-35b8-b7ca-10da0411e161",
          "content-type" : "multipart/related; boundary=${boundary}; type=\"text/xml\"; start=\"<soap-ce80039dc76d11eb8a9e0000067b9eb2@sap.com.xml>\"",
          "HTTP Status Code" : "200"
        },
        "propertyDescriptors" : {
          "HTTP Context Map" : {
            "name" : "HTTP Context Map",
            "displayName" : "HTTP Context Map",
            "identifiesControllerService" : true,
            "sensitive" : false,
            "dynamic" : false
          },
          "content-type" : {
            "name" : "content-type",
            "displayName" : "content-type",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "HTTP Status Code" : {
            "name" : "HTTP Status Code",
            "displayName" : "HTTP Status Code",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          }
        },
        "style" : { },
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "executionNode" : "ALL",
        "penaltyDuration" : "30 sec",
        "yieldDuration" : "1 sec",
        "bulletinLevel" : "WARN",
        "runDurationMillis" : 0,
        "concurrentlySchedulableTaskCount" : 1,
        "autoTerminatedRelationships" : [ ],
        "scheduledState" : "ENABLED",
        "componentType" : "PROCESSOR",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "33901766-ae83-3727-8e92-c07fdfd4ddd5",
        "name" : "UpdateAttribute",
        "comments" : "",
        "position" : {
          "x" : 560.0,
          "y" : 688.0
        },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-update-attribute-nar",
          "version" : "1.12.1.5"
        },
        "properties" : {
          "http.headers.multipart.content-description" : "SOAP",
          "http.headers.multipart.content-id" : "soap-ce80039dc76d11eb8a9e0000067b9eb2@sap.com.xml",
          "http.headers.multipart.content-type" : "text/xml; charset=utf-8",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100",
          "http.headers.multipart.content-disposition" : "attachment; filename=soap-ce80039dc76d11eb8a9e0000067b9eb2@sap.com.xml",
          "fragment.index" : "1",
          "http.multipart.fragments.total.number" : "2",
          "fragment.count" : "2"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "name" : "Delete Attributes Expression",
            "displayName" : "Delete Attributes Expression",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "http.headers.multipart.content-description" : {
            "name" : "http.headers.multipart.content-description",
            "displayName" : "http.headers.multipart.content-description",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "http.headers.multipart.content-id" : {
            "name" : "http.headers.multipart.content-id",
            "displayName" : "http.headers.multipart.content-id",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "http.headers.multipart.content-type" : {
            "name" : "http.headers.multipart.content-type",
            "displayName" : "http.headers.multipart.content-type",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Store State" : {
            "name" : "Store State",
            "displayName" : "Store State",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "canonical-value-lookup-cache-size" : {
            "name" : "canonical-value-lookup-cache-size",
            "displayName" : "Cache Value Lookup Cache Size",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "http.headers.multipart.content-disposition" : {
            "name" : "http.headers.multipart.content-disposition",
            "displayName" : "http.headers.multipart.content-disposition",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "fragment.index" : {
            "name" : "fragment.index",
            "displayName" : "fragment.index",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "http.multipart.fragments.total.number" : {
            "name" : "http.multipart.fragments.total.number",
            "displayName" : "http.multipart.fragments.total.number",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "fragment.count" : {
            "name" : "fragment.count",
            "displayName" : "fragment.count",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Stateful Variables Initial Value" : {
            "name" : "Stateful Variables Initial Value",
            "displayName" : "Stateful Variables Initial Value",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          }
        },
        "style" : { },
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "executionNode" : "ALL",
        "penaltyDuration" : "30 sec",
        "yieldDuration" : "1 sec",
        "bulletinLevel" : "WARN",
        "runDurationMillis" : 0,
        "concurrentlySchedulableTaskCount" : 1,
        "autoTerminatedRelationships" : [ ],
        "scheduledState" : "ENABLED",
        "componentType" : "PROCESSOR",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "779ce712-017f-3824-a435-4b07c929289e",
        "name" : "ReplaceText",
        "comments" : "",
        "position" : {
          "x" : 552.0,
          "y" : 880.0
        },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-nar",
          "version" : "1.12.1.6"
        },
        "properties" : {
          "Regular Expression" : "(?s)(^.*$)",
          "Replacement Value" : "<SOAP:Envelope xmlns:SOAP='http://schemas.xmlsoap.org/soap/envelope/'>\n\t<SOAP:Header>\n\t\t<sap:ReliableMessaging xmlns:sap='http://sap.com/xi/XI/Message/30' SOAP:mustUnderstand='1'>\n\t\t\t<sap:QualityOfService>BestEffort</sap:QualityOfService>\n\t\t</sap:ReliableMessaging>\n\t\t<sap:System xmlns:sap='http://sap.com/xi/XI/Message/30' SOAP:mustUnderstand='1'>\n\t\t\t<sap:Record namespace='/xmlvalidation' name='SYNC_RESPONSE_BEFORE_MAPPING'>1</sap:Record>\n\t\t</sap:System>\n\t\t<sap:DynamicConfiguration xmlns:sap='http://sap.com/xi/XI/Message/30' SOAP:mustUnderstand='1'>\n\t\t\t<sap:Record namespace='http://sap.com/xi/XI/System/SOAP' name='SndrSOAPAction'>http://sap.com/xi/WebService/soap1.1</sap:Record>\n\t\t\t<sap:Record namespace='http://sap.com/xi/XI/Message/30/routing' name='InterfaceDeterminationHash'>2b3c4029d2c2ff6e82496c536ff237d3</sap:Record>\n\t\t\t<sap:Record namespace='http://sap.com/xi/XI/Message/30/routing' name='SourceMessageTypeNS'>urn:ibs.ru:integration:payments</sap:Record>\n\t\t\t<sap:Record namespace='http://sap.com/xi/XI/System/SOAP' name='SndrTransportProtocol'>http</sap:Record>\n\t\t\t<sap:Record namespace='http://sap.com/xi/XI/Message/30/routing' name='SourceMessageType'>ExchangeRates</sap:Record>\n\t\t\t<sap:Record namespace='http://sap.com/xi/XI/Message/30/routing' name='InterfaceFromOperation'>ExchangeRatesSend</sap:Record>\n\t\t\t<sap:Record namespace='http://sap.com/xi/XI/System/SOAP' name='SndrEndpointURL'>http://poddb01.gk.rosatom.local:51000/XISOAPAdapter/MessageServlet</sap:Record>\n\t\t\t<sap:Record namespace='http://sap.com/xi/XI/System/SOAP' name='SndrCharset'>UTF-8</sap:Record>\n\t\t\t<sap:Record namespace='http://sap.com/xi/XI/Message/30/general' name='senderAgreementGUID'>ab693648a737358c8e5b765a07306892</sap:Record>\n\t\t\t<sap:Record namespace='http://sap.com/xi/XI/System/SOAP' name='SndrClientAddr'>10.124.40.57</sap:Record>\n\t\t</sap:DynamicConfiguration>\n\t\t<sap:HopList xmlns:sap='http://sap.com/xi/XI/Message/30' SOAP:mustUnderstand='1'>\n\t\t\t<sap:Hop timeStamp='2023-09-04T13:51:11Z' wasRead='false'>\n\t\t\t\t<sap:Engine type='AE'>af.pod.podudb01</sap:Engine>\n\t\t\t\t<sap:Adapter namespace='http://sap.com/xi/XI/System'>XIRA</sap:Adapter>\n\t\t\t\t<sap:MessageId>1b2a5d3e-4b2a-11ee-b81a-0000067b9eb2</sap:MessageId>\n\t\t\t</sap:Hop>\n\t\t\t<sap:Hop timeStamp='2023-09-04T13:51:11Z' wasRead='false'>\n\t\t\t\t<sap:Engine type='AE'>af.pod.podudb01</sap:Engine>\n\t\t\t\t<sap:Adapter namespace='http://sap.com/xi/XI/System'>XIRA</sap:Adapter>\n\t\t\t\t<sap:MessageId>1b2a5d3e-4b2a-11ee-b81a-0000067b9eb2</sap:MessageId>\n\t\t\t</sap:Hop>\n\t\t\t<sap:Hop timeStamp='2023-09-04T13:51:11Z' wasRead='false'>\n\t\t\t\t<sap:Engine type='AE'>af.pod.podudb01</sap:Engine>\n\t\t\t\t<sap:Adapter namespace='http://sap.com/xi/XI/System'>XIRA</sap:Adapter>\n\t\t\t\t<sap:MessageId>1b7dd97a-4b2a-11ee-a74f-0000067b9eb2</sap:MessageId>\n\t\t\t</sap:Hop>\n\t\t</sap:HopList>\n\t\t<sap:Main xmlns:sap='http://sap.com/xi/XI/Message/30' versionMajor='3' versionMinor='1' SOAP:mustUnderstand='1'>\n\t\t\t<sap:MessageClass>ApplicationResponse</sap:MessageClass>\n\t\t\t<sap:ProcessingMode>synchronous</sap:ProcessingMode>\n\t\t\t<sap:MessageId>1b7dd97a-4b2a-11ee-a74f-0000067b9eb2</sap:MessageId>\n\t\t\t<sap:RefToMessageId>${SapMessageId}</sap:RefToMessageId>\n\t\t\t<sap:TimeSent>2023-09-04T13:51:11Z</sap:TimeSent>\n\t\t\t<sap:Sender>\n\t\t\t\t<sap:Party agency='http://sap.com/xi/XI' scheme='XIParty'/>\n\t\t\t\t<sap:Service>GK_PDS_Q</sap:Service>\n\t\t\t</sap:Sender>\n\t\t\t<sap:Receiver>\n\t\t\t\t<sap:Party agency='http://sap.com/xi/XI' scheme='XIParty'/>\n\t\t\t\t<sap:Service>${sap.Sender.Service}</sap:Service>\n\t\t\t</sap:Receiver>\n\t\t\t<sap:Interface namespace='${sap.Interface.namespace}'>${sap.Interface.value}</sap:Interface>\n\t\t</sap:Main>\n\t</SOAP:Header>\n\t<SOAP:Body xmlns:urn='${sap.Interface.namespace}'>\n\t\t<sap:Manifest xmlns:sap='http://sap.com/xi/XI/Message/30' xmlns:xlink='http://www.w3.org/1999/xlink'>\n\t\t\t<sap:Payload xlink:type='simple' xlink:href='cid:payload-ce80039dc76d11eb8a9e0000067b9eb2@sap.com'>\n\t\t\t\t<sap:Name>maindocument</sap:Name>\n\t\t\t\t<sap:Description>main document</sap:Description>\n\t\t\t\t<sap:Type>Application</sap:Type>\n\t\t\t</sap:Payload>\n\t\t</sap:Manifest>\n\t</SOAP:Body>\n</SOAP:Envelope>",
          "Evaluation Mode" : "Entire text",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "name" : "Regular Expression",
            "displayName" : "Search Value",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Replacement Value" : {
            "name" : "Replacement Value",
            "displayName" : "Replacement Value",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Evaluation Mode" : {
            "name" : "Evaluation Mode",
            "displayName" : "Evaluation Mode",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "name" : "Line-by-Line Evaluation Mode",
            "displayName" : "Line-by-Line Evaluation Mode",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Character Set" : {
            "name" : "Character Set",
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Maximum Buffer Size" : {
            "name" : "Maximum Buffer Size",
            "displayName" : "Maximum Buffer Size",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Replacement Strategy" : {
            "name" : "Replacement Strategy",
            "displayName" : "Replacement Strategy",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          }
        },
        "style" : { },
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "executionNode" : "ALL",
        "penaltyDuration" : "30 sec",
        "yieldDuration" : "1 sec",
        "bulletinLevel" : "WARN",
        "runDurationMillis" : 0,
        "concurrentlySchedulableTaskCount" : 1,
        "autoTerminatedRelationships" : [ "failure" ],
        "scheduledState" : "ENABLED",
        "componentType" : "PROCESSOR",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "6dff8c69-d13d-3e2f-8784-263f315a4219",
        "name" : "UpdateAttribute",
        "comments" : "",
        "position" : {
          "x" : 560.0,
          "y" : 544.0
        },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-update-attribute-nar",
          "version" : "1.12.1.5"
        },
        "properties" : {
          "http.headers.multipart.content-description" : "MainDocument",
          "http.headers.multipart.content-id" : "<payload-ce80039dc76d11eb8a9e0000067b9eb2@sap.com>",
          "http.headers.multipart.content-type" : "text/xml; charset=utf-8",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100",
          "http.headers.multipart.content-disposition" : "attachment; filename=MainDocument.xml",
          "fragment.index" : "2",
          "http.multipart.fragments.total.number" : "2",
          "fragment.count" : "2"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "name" : "Delete Attributes Expression",
            "displayName" : "Delete Attributes Expression",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "http.headers.multipart.content-description" : {
            "name" : "http.headers.multipart.content-description",
            "displayName" : "http.headers.multipart.content-description",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "http.headers.multipart.content-id" : {
            "name" : "http.headers.multipart.content-id",
            "displayName" : "http.headers.multipart.content-id",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "http.headers.multipart.content-type" : {
            "name" : "http.headers.multipart.content-type",
            "displayName" : "http.headers.multipart.content-type",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Store State" : {
            "name" : "Store State",
            "displayName" : "Store State",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "canonical-value-lookup-cache-size" : {
            "name" : "canonical-value-lookup-cache-size",
            "displayName" : "Cache Value Lookup Cache Size",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "http.headers.multipart.content-disposition" : {
            "name" : "http.headers.multipart.content-disposition",
            "displayName" : "http.headers.multipart.content-disposition",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "fragment.index" : {
            "name" : "fragment.index",
            "displayName" : "fragment.index",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "http.multipart.fragments.total.number" : {
            "name" : "http.multipart.fragments.total.number",
            "displayName" : "http.multipart.fragments.total.number",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "fragment.count" : {
            "name" : "fragment.count",
            "displayName" : "fragment.count",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Stateful Variables Initial Value" : {
            "name" : "Stateful Variables Initial Value",
            "displayName" : "Stateful Variables Initial Value",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          }
        },
        "style" : { },
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "executionNode" : "ALL",
        "penaltyDuration" : "30 sec",
        "yieldDuration" : "1 sec",
        "bulletinLevel" : "WARN",
        "runDurationMillis" : 0,
        "concurrentlySchedulableTaskCount" : 1,
        "autoTerminatedRelationships" : [ ],
        "scheduledState" : "ENABLED",
        "componentType" : "PROCESSOR",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "7255d202-1738-37a8-a744-b9d4357eb711",
        "name" : "UpdateAttribute",
        "comments" : "",
        "position" : {
          "x" : 1200.0,
          "y" : 1072.0
        },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-update-attribute-nar",
          "version" : "1.12.1.5"
        },
        "properties" : {
          "Delete Attributes Expression" : "invokehttp.status.code",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "name" : "Delete Attributes Expression",
            "displayName" : "Delete Attributes Expression",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Store State" : {
            "name" : "Store State",
            "displayName" : "Store State",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "canonical-value-lookup-cache-size" : {
            "name" : "canonical-value-lookup-cache-size",
            "displayName" : "Cache Value Lookup Cache Size",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "Stateful Variables Initial Value" : {
            "name" : "Stateful Variables Initial Value",
            "displayName" : "Stateful Variables Initial Value",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          }
        },
        "style" : { },
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "executionNode" : "ALL",
        "penaltyDuration" : "30 sec",
        "yieldDuration" : "1 sec",
        "bulletinLevel" : "WARN",
        "runDurationMillis" : 0,
        "concurrentlySchedulableTaskCount" : 1,
        "autoTerminatedRelationships" : [ ],
        "scheduledState" : "ENABLED",
        "componentType" : "PROCESSOR",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "38d402a0-22c4-3c8c-bb1b-91e3e13d54fa",
        "name" : "Удаление SOAP Envelope",
        "comments" : "<xsl:stylesheet version=\"1.0\"\nxmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\"\nxmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\nxmlns:env=\"http://www.w3.org/2003/05/soap-envelope\">\n\n<xsl:output method=\"xml\" version=\"1.0\" encoding=\"UTF-8\" indent=\"yes\" omit-xml-declaration=\"yes\"/>\n<xsl:strip-space elements=\"*\"/>\n\n<xsl:template match=\"@*|node()\">\n    <xsl:copy>\n        <xsl:apply-templates select=\"@*|node()\"/>\n    </xsl:copy>\n</xsl:template>\n\n<xsl:template match=\"soap:Envelope | soap:Header | soap:Body\">\n    <xsl:apply-templates select=\"@*|node()\"/>\n</xsl:template>\n\n<xsl:template match=\"env:Envelope | env:Header | env:Body\">\n    <xsl:apply-templates select=\"@*|node()\"/>\n</xsl:template>\n\n<xsl:template match=\"soap:Header\"/>\n\n<xsl:template match=\"env:Header\"/>\n</xsl:stylesheet>",
        "position" : {
          "x" : 536.0,
          "y" : -72.0
        },
        "type" : "org.apache.nifi.processors.standard.TransformXml",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-nar",
          "version" : "1.12.1.5"
        },
        "properties" : {
          "xslt-controller-key" : "RemoveEnvelope",
          "xslt-controller" : "4024c9e5-d270-3463-b201-56ae098de72f",
          "secure-processing" : "true",
          "cache-size" : "10",
          "indent-output" : "true",
          "cache-ttl-after-last-access" : "60 secs"
        },
        "propertyDescriptors" : {
          "xslt-controller-key" : {
            "name" : "xslt-controller-key",
            "displayName" : "XSLT Lookup key",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "xslt-controller" : {
            "name" : "xslt-controller",
            "displayName" : "XSLT Lookup",
            "identifiesControllerService" : true,
            "sensitive" : false,
            "dynamic" : false
          },
          "secure-processing" : {
            "name" : "secure-processing",
            "displayName" : "Secure processing",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "cache-size" : {
            "name" : "cache-size",
            "displayName" : "Cache size",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "indent-output" : {
            "name" : "indent-output",
            "displayName" : "Indent",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "XSLT file name" : {
            "name" : "XSLT file name",
            "displayName" : "XSLT file name",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          },
          "cache-ttl-after-last-access" : {
            "name" : "cache-ttl-after-last-access",
            "displayName" : "Cache TTL after last access",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          }
        },
        "style" : {
          "background-color" : "#ffffff"
        },
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "executionNode" : "ALL",
        "penaltyDuration" : "30 sec",
        "yieldDuration" : "1 sec",
        "bulletinLevel" : "NONE",
        "runDurationMillis" : 0,
        "concurrentlySchedulableTaskCount" : 5,
        "autoTerminatedRelationships" : [ ],
        "scheduledState" : "ENABLED",
        "componentType" : "PROCESSOR",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      } ],
      "inputPorts" : [ {
        "identifier" : "5b0bfd9a-01b8-3864-aa47-38209b4615e6",
        "name" : "In",
        "comments" : "",
        "position" : {
          "x" : 592.0,
          "y" : -288.0
        },
        "type" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      } ],
      "outputPorts" : [ {
        "identifier" : "c5b346c3-fc3f-3a4a-ab3a-715bce1f6832",
        "name" : "HTTP_Response",
        "comments" : "",
        "position" : {
          "x" : 616.0,
          "y" : 1280.0
        },
        "type" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      } ],
      "connections" : [ {
        "identifier" : "bcf13e8c-28cd-39c7-bb79-ecb089607fbb",
        "name" : "",
        "source" : {
          "id" : "38d402a0-22c4-3c8c-bb1b-91e3e13d54fa",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "Удаление SOAP Envelope",
          "comments" : "<xsl:stylesheet version=\"1.0\"\nxmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\"\nxmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\nxmlns:env=\"http://www.w3.org/2003/05/soap-envelope\">\n\n<xsl:output method=\"xml\" version=\"1.0\" encoding=\"UTF-8\" indent=\"yes\" omit-xml-declaration=\"yes\"/>\n<xsl:strip-space elements=\"*\"/>\n\n<xsl:template match=\"@*|node()\">\n    <xsl:copy>\n        <xsl:apply-templates select=\"@*|node()\"/>\n    </xsl:copy>\n</xsl:template>\n\n<xsl:template match=\"soap:Envelope | soap:Header | soap:Body\">\n    <xsl:apply-templates select=\"@*|node()\"/>\n</xsl:template>\n\n<xsl:template match=\"env:Envelope | env:Header | env:Body\">\n    <xsl:apply-templates select=\"@*|node()\"/>\n</xsl:template>\n\n<xsl:template match=\"soap:Header\"/>\n\n<xsl:template match=\"env:Header\"/>\n</xsl:stylesheet>"
        },
        "destination" : {
          "id" : "6b43a7fc-7c74-3435-ac2b-a6b3f2bf61b1",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "DuplicateFlowFile",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "success" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "56985009-fb8f-3a6a-a59f-bd1701db376b",
        "name" : "",
        "source" : {
          "id" : "823d27b0-49fe-3f3d-b48c-e9251331313f",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "AFMergeContent",
          "comments" : ""
        },
        "destination" : {
          "id" : "9a69d621-f4c1-3a56-a59c-cc98a7875b29",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "HandleHttpResponse",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "merged" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "deb5e9fa-61fa-3ef9-8246-39dea1400447",
        "name" : "",
        "source" : {
          "id" : "6b43a7fc-7c74-3435-ac2b-a6b3f2bf61b1",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "DuplicateFlowFile",
          "comments" : ""
        },
        "destination" : {
          "id" : "a773d432-c75c-377e-b409-3f8f65d97116",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "RouteOnAttribute",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "success" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "4d11cedc-4108-3d76-8cd1-243d070c3e24",
        "name" : "",
        "source" : {
          "id" : "33901766-ae83-3727-8e92-c07fdfd4ddd5",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "UpdateAttribute",
          "comments" : ""
        },
        "destination" : {
          "id" : "779ce712-017f-3824-a435-4b07c929289e",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "ReplaceText",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "success" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "ab19717e-308f-3f06-9346-8b6c146fa7b8",
        "name" : "",
        "source" : {
          "id" : "9a69d621-f4c1-3a56-a59c-cc98a7875b29",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "HandleHttpResponse",
          "comments" : ""
        },
        "destination" : {
          "id" : "5f5f7aaa-f8ea-3269-b14b-d12477a1ba83",
          "type" : "FUNNEL",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "Funnel",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "success" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "d5277f50-b909-352c-99ca-8b7446d0afda",
        "name" : "",
        "source" : {
          "id" : "5b0bfd9a-01b8-3864-aa47-38209b4615e6",
          "type" : "INPUT_PORT",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "In",
          "comments" : ""
        },
        "destination" : {
          "id" : "38d402a0-22c4-3c8c-bb1b-91e3e13d54fa",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "Удаление SOAP Envelope",
          "comments" : "<xsl:stylesheet version=\"1.0\"\nxmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\"\nxmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\nxmlns:env=\"http://www.w3.org/2003/05/soap-envelope\">\n\n<xsl:output method=\"xml\" version=\"1.0\" encoding=\"UTF-8\" indent=\"yes\" omit-xml-declaration=\"yes\"/>\n<xsl:strip-space elements=\"*\"/>\n\n<xsl:template match=\"@*|node()\">\n    <xsl:copy>\n        <xsl:apply-templates select=\"@*|node()\"/>\n    </xsl:copy>\n</xsl:template>\n\n<xsl:template match=\"soap:Envelope | soap:Header | soap:Body\">\n    <xsl:apply-templates select=\"@*|node()\"/>\n</xsl:template>\n\n<xsl:template match=\"env:Envelope | env:Header | env:Body\">\n    <xsl:apply-templates select=\"@*|node()\"/>\n</xsl:template>\n\n<xsl:template match=\"soap:Header\"/>\n\n<xsl:template match=\"env:Header\"/>\n</xsl:stylesheet>"
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "d5c50dec-0400-3439-8e48-af6d8754c702",
        "name" : "",
        "source" : {
          "id" : "779ce712-017f-3824-a435-4b07c929289e",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "ReplaceText",
          "comments" : ""
        },
        "destination" : {
          "id" : "823d27b0-49fe-3f3d-b48c-e9251331313f",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "AFMergeContent",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "success" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ {
          "x" : 1048.0,
          "y" : 944.0
        }, {
          "x" : 1048.0,
          "y" : 1032.0
        }, {
          "x" : 736.0,
          "y" : 1032.0
        } ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "f4938424-7cd6-3fd0-aea6-716fe7f12dbb",
        "name" : "",
        "source" : {
          "id" : "6dff8c69-d13d-3e2f-8784-263f315a4219",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "UpdateAttribute",
          "comments" : ""
        },
        "destination" : {
          "id" : "823d27b0-49fe-3f3d-b48c-e9251331313f",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "AFMergeContent",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "success" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ {
          "x" : 1048.0,
          "y" : 608.0
        }, {
          "x" : 1048.0,
          "y" : 1032.0
        }, {
          "x" : 736.0,
          "y" : 1032.0
        } ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "047c3238-90f0-3d9e-a95a-e0fc35473dca",
        "name" : "",
        "source" : {
          "id" : "a773d432-c75c-377e-b409-3f8f65d97116",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "RouteOnAttribute",
          "comments" : ""
        },
        "destination" : {
          "id" : "6dff8c69-d13d-3e2f-8784-263f315a4219",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "UpdateAttribute",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "part1" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ {
          "x" : 288.0,
          "y" : 408.0
        }, {
          "x" : 288.0,
          "y" : 608.0
        }, {
          "x" : 424.0,
          "y" : 608.0
        } ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "2906ec03-8640-34a5-8c77-f52579f22769",
        "name" : "",
        "source" : {
          "id" : "a773d432-c75c-377e-b409-3f8f65d97116",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "RouteOnAttribute",
          "comments" : ""
        },
        "destination" : {
          "id" : "33901766-ae83-3727-8e92-c07fdfd4ddd5",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "UpdateAttribute",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "part2" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ {
          "x" : 288.0,
          "y" : 408.0
        }, {
          "x" : 288.0,
          "y" : 752.0
        }, {
          "x" : 424.0,
          "y" : 752.0
        } ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "7c025355-1501-3c1b-8992-486db5145f46",
        "name" : "",
        "source" : {
          "id" : "38d402a0-22c4-3c8c-bb1b-91e3e13d54fa",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "Удаление SOAP Envelope",
          "comments" : "<xsl:stylesheet version=\"1.0\"\nxmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\"\nxmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\nxmlns:env=\"http://www.w3.org/2003/05/soap-envelope\">\n\n<xsl:output method=\"xml\" version=\"1.0\" encoding=\"UTF-8\" indent=\"yes\" omit-xml-declaration=\"yes\"/>\n<xsl:strip-space elements=\"*\"/>\n\n<xsl:template match=\"@*|node()\">\n    <xsl:copy>\n        <xsl:apply-templates select=\"@*|node()\"/>\n    </xsl:copy>\n</xsl:template>\n\n<xsl:template match=\"soap:Envelope | soap:Header | soap:Body\">\n    <xsl:apply-templates select=\"@*|node()\"/>\n</xsl:template>\n\n<xsl:template match=\"env:Envelope | env:Header | env:Body\">\n    <xsl:apply-templates select=\"@*|node()\"/>\n</xsl:template>\n\n<xsl:template match=\"soap:Header\"/>\n\n<xsl:template match=\"env:Header\"/>\n</xsl:stylesheet>"
        },
        "destination" : {
          "id" : "7255d202-1738-37a8-a744-b9d4357eb711",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "UpdateAttribute",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "failure" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ {
          "x" : 1368.0,
          "y" : -8.0
        }, {
          "x" : 1376.0,
          "y" : 1024.0
        } ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "448768c5-4217-31a3-96d0-1afcf275af58",
        "name" : "",
        "source" : {
          "id" : "823d27b0-49fe-3f3d-b48c-e9251331313f",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "AFMergeContent",
          "comments" : ""
        },
        "destination" : {
          "id" : "c73123a8-571d-3981-88b0-f25342dfc015",
          "type" : "FUNNEL",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "Funnel",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "merged" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "3ab2bab9-7b7d-3ccb-b1e5-09c1fdfa5a42",
        "name" : "",
        "source" : {
          "id" : "7255d202-1738-37a8-a744-b9d4357eb711",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "UpdateAttribute",
          "comments" : ""
        },
        "destination" : {
          "id" : "c5b346c3-fc3f-3a4a-ab3a-715bce1f6832",
          "type" : "OUTPUT_PORT",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "HTTP_Response",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "success" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ {
          "x" : 1376.0,
          "y" : 1304.0
        } ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "0024a717-611d-3710-a82b-e4a82b3705d5",
        "name" : "",
        "source" : {
          "id" : "9a69d621-f4c1-3a56-a59c-cc98a7875b29",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "HandleHttpResponse",
          "comments" : ""
        },
        "destination" : {
          "id" : "381bf4cd-e184-3a21-a65a-50b19abea46a",
          "type" : "FUNNEL",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "Funnel",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "failure" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "e49c2e9e-354d-3822-8659-e5900d5c446c",
        "name" : "",
        "source" : {
          "id" : "823d27b0-49fe-3f3d-b48c-e9251331313f",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "AFMergeContent",
          "comments" : ""
        },
        "destination" : {
          "id" : "7255d202-1738-37a8-a744-b9d4357eb711",
          "type" : "PROCESSOR",
          "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
          "name" : "UpdateAttribute",
          "comments" : ""
        },
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "failure" ],
        "backPressureObjectThreshold" : 10000,
        "backPressureDataSizeThreshold" : "1 GB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ],
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute" : "",
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "componentType" : "CONNECTION",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      } ],
      "labels" : [ ],
      "funnels" : [ {
        "identifier" : "5f5f7aaa-f8ea-3269-b14b-d12477a1ba83",
        "position" : {
          "x" : 125.95732485171254,
          "y" : 1601.746989658701
        },
        "componentType" : "FUNNEL",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "c73123a8-571d-3981-88b0-f25342dfc015",
        "position" : {
          "x" : 312.0,
          "y" : 936.0
        },
        "componentType" : "FUNNEL",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      }, {
        "identifier" : "381bf4cd-e184-3a21-a65a-50b19abea46a",
        "position" : {
          "x" : -233.2440362189542,
          "y" : 1548.771249356912
        },
        "componentType" : "FUNNEL",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      } ],
      "controllerServices" : [ {
        "identifier" : "4024c9e5-d270-3463-b201-56ae098de72f",
        "name" : "xslt_SimpleKeyValueLookupService",
        "comments" : "",
        "type" : "org.apache.nifi.lookup.SimpleKeyValueLookupService",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-lookup-services-nar",
          "version" : "4.0.1"
        },
        "properties" : {
          "RemoveEnvelope" : "<xsl:stylesheet version=\"1.0\"\nxmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\"\nxmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\nxmlns:env=\"http://www.w3.org/2003/05/soap-envelope\">\n\n<xsl:output method=\"xml\" version=\"1.0\" encoding=\"UTF-8\" indent=\"yes\" omit-xml-declaration=\"yes\"/>\n<xsl:strip-space elements=\"*\"/>\n\n<xsl:template match=\"@*|node()\">\n    <xsl:copy>\n        <xsl:apply-templates select=\"@*|node()\"/>\n    </xsl:copy>\n</xsl:template>\n\n<xsl:template match=\"soap:Envelope | soap:Header | soap:Body\">\n    <xsl:apply-templates select=\"@*|node()\"/>\n</xsl:template>\n\n<xsl:template match=\"env:Envelope | env:Header | env:Body\">\n    <xsl:apply-templates select=\"@*|node()\"/>\n</xsl:template>\n\n<xsl:template match=\"soap:Header\"/>\n\n<xsl:template match=\"env:Header\"/>\n</xsl:stylesheet>"
        },
        "propertyDescriptors" : {
          "RemoveEnvelope" : {
            "name" : "RemoveEnvelope",
            "displayName" : "RemoveEnvelope",
            "identifiesControllerService" : false,
            "sensitive" : false,
            "dynamic" : false
          }
        },
        "controllerServiceApis" : [ {
          "type" : "org.apache.nifi.lookup.StringLookupService",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-services-api-nar",
            "version" : "4.0.1"
          }
        }, {
          "type" : "org.apache.nifi.lookup.LookupService",
          "bundle" : {
            "group" : "org.apache.nifi",
            "artifact" : "nifi-standard-services-api-nar",
            "version" : "4.0.1"
          }
        } ],
        "componentType" : "CONTROLLER_SERVICE",
        "groupIdentifier" : "e4da9d87-4d76-37b6-aa4f-85277151528c"
      } ],
      "parameterContextName" : "Payments",
      "componentType" : "PROCESS_GROUP",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "flowFileConcurrency" : "UNBOUNDED",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    } ],
    "remoteProcessGroups" : [ ],
    "processors" : [ {
      "identifier" : "a61b9df9-c51a-3528-b590-28f2fd87f038",
      "name" : "ЕСИК БП 2.0 КСПД",
      "comments" : "",
      "position" : {
        "x" : 536.0,
        "y" : 216.0
      },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-standard-nar",
        "version" : "1.12.1.6"
      },
      "properties" : {
        "use-etag" : "false",
        "Proxy Type" : "http",
        "Connection Timeout" : "150 secs",
        "send-message-body" : "true",
        "set-form-filename" : "true",
        "Always Output Response" : "true",
        "etag-max-cache-size" : "10MB",
        "idle-timeout" : "5 mins",
        "Use Chunked Encoding" : "false",
        "Follow Redirects" : "True",
        "Remote URL" : "#{esik_kspd_test.host}/crypto-service/attorneyValidate?senderService=${http.query.param.senderService}&api-version=1.0&category=0",
        "Content-Type" : "text/xml",
        "max-idle-connections" : "5",
        "Read Timeout" : "150 secs",
        "Max Length To Put In Attribute" : "256",
        "ignore-response-content" : "false",
        "Digest Authentication" : "false",
        "HTTP Method" : "POST",
        "Add Response Headers to Request" : "false",
        "Include Date Header" : "True",
        "Penalize on \"No Retry\"" : "false"
      },
      "propertyDescriptors" : {
        "Proxy Host" : {
          "name" : "Proxy Host",
          "displayName" : "Proxy Host",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Attributes to Send" : {
          "name" : "Attributes to Send",
          "displayName" : "Attributes to Send",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "use-etag" : {
          "name" : "use-etag",
          "displayName" : "Use HTTP ETag",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "proxy-configuration-service" : {
          "name" : "proxy-configuration-service",
          "displayName" : "Proxy Configuration Service",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Proxy Type" : {
          "name" : "Proxy Type",
          "displayName" : "Proxy Type",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Basic Authentication Password" : {
          "name" : "Basic Authentication Password",
          "displayName" : "Basic Authentication Password",
          "identifiesControllerService" : false,
          "sensitive" : true,
          "dynamic" : false
        },
        "Connection Timeout" : {
          "name" : "Connection Timeout",
          "displayName" : "Connection Timeout",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "send-message-body" : {
          "name" : "send-message-body",
          "displayName" : "Send Message Body",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "set-form-filename" : {
          "name" : "set-form-filename",
          "displayName" : "Set Flowfile Form Data File Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Always Output Response" : {
          "name" : "Always Output Response",
          "displayName" : "Always Output Response",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "etag-max-cache-size" : {
          "name" : "etag-max-cache-size",
          "displayName" : "Maximum ETag Cache Size",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "idle-timeout" : {
          "name" : "idle-timeout",
          "displayName" : "Idle Timeout",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Put Response Body In Attribute" : {
          "name" : "Put Response Body In Attribute",
          "displayName" : "Put Response Body In Attribute",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Use Chunked Encoding" : {
          "name" : "Use Chunked Encoding",
          "displayName" : "Use Chunked Encoding",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Follow Redirects" : {
          "name" : "Follow Redirects",
          "displayName" : "Follow Redirects",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Remote URL" : {
          "name" : "Remote URL",
          "displayName" : "Remote URL",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Content-Type" : {
          "name" : "Content-Type",
          "displayName" : "Content-Type",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "form-body-form-name" : {
          "name" : "form-body-form-name",
          "displayName" : "Flowfile Form Data Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "max-idle-connections" : {
          "name" : "max-idle-connections",
          "displayName" : "Max Idle Connections",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "invokehttp-proxy-user" : {
          "name" : "invokehttp-proxy-user",
          "displayName" : "Proxy Username",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Read Timeout" : {
          "name" : "Read Timeout",
          "displayName" : "Read Timeout",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Max Length To Put In Attribute" : {
          "name" : "Max Length To Put In Attribute",
          "displayName" : "Max Length To Put In Attribute",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "invokehttp-proxy-password" : {
          "name" : "invokehttp-proxy-password",
          "displayName" : "Proxy Password",
          "identifiesControllerService" : false,
          "sensitive" : true,
          "dynamic" : false
        },
        "ignore-response-content" : {
          "name" : "ignore-response-content",
          "displayName" : "Ignore response's content",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Proxy Port" : {
          "name" : "Proxy Port",
          "displayName" : "Proxy Port",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "SSL Context Service" : {
          "name" : "SSL Context Service",
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Digest Authentication" : {
          "name" : "Digest Authentication",
          "displayName" : "Use Digest Authentication",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "HTTP Method" : {
          "name" : "HTTP Method",
          "displayName" : "HTTP Method",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Add Response Headers to Request" : {
          "name" : "Add Response Headers to Request",
          "displayName" : "Add Response Headers to Request",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Basic Authentication Username" : {
          "name" : "Basic Authentication Username",
          "displayName" : "Basic Authentication Username",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Include Date Header" : {
          "name" : "Include Date Header",
          "displayName" : "Include Date Header",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Penalize on \"No Retry\"" : {
          "name" : "Penalize on \"No Retry\"",
          "displayName" : "Penalize on \"No Retry\"",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Useragent" : {
          "name" : "Useragent",
          "displayName" : "Useragent",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "1 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original" ],
      "scheduledState" : "ENABLED",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    }, {
      "identifier" : "e81dc8a2-b417-3e9e-a633-be5fa426d3a4",
      "name" : "RouteOnAttribute",
      "comments" : "",
      "position" : {
        "x" : 1104.0,
        "y" : 216.0
      },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-standard-nar",
        "version" : "1.12.1.6"
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "SAP" : "${http.query.param.senderService:in(\"sbis_isupksi\")}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "name" : "Routing Strategy",
          "displayName" : "Routing Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "SAP" : {
          "name" : "SAP",
          "displayName" : "SAP",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ ],
      "scheduledState" : "ENABLED",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    } ],
    "inputPorts" : [ {
      "identifier" : "8cae4456-516c-3914-9005-9d6d51cb505f",
      "name" : "AttorneyValidate",
      "comments" : "",
      "position" : {
        "x" : 104.0,
        "y" : 280.0
      },
      "type" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "allowRemoteAccess" : false,
      "componentType" : "INPUT_PORT",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    } ],
    "outputPorts" : [ {
      "identifier" : "77070c02-bca7-320f-bf57-738c9edb275c",
      "name" : "Response",
      "comments" : "",
      "position" : {
        "x" : 2400.0,
        "y" : 248.0
      },
      "type" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    } ],
    "connections" : [ {
      "identifier" : "bc6319c0-ca97-306d-9f39-f7969e5be05b",
      "name" : "",
      "source" : {
        "id" : "8cae4456-516c-3914-9005-9d6d51cb505f",
        "type" : "INPUT_PORT",
        "groupId" : "66cc13a0-2c99-323d-b649-09039cb34c75",
        "name" : "AttorneyValidate",
        "comments" : ""
      },
      "destination" : {
        "id" : "a61b9df9-c51a-3528-b590-28f2fd87f038",
        "type" : "PROCESSOR",
        "groupId" : "66cc13a0-2c99-323d-b649-09039cb34c75",
        "name" : "ЕСИК БП 2.0 КСПД",
        "comments" : ""
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    }, {
      "identifier" : "fc0c1f0a-da29-3c6b-a8ce-56656f63b77d",
      "name" : "",
      "source" : {
        "id" : "c5b346c3-fc3f-3a4a-ab3a-715bce1f6832",
        "type" : "OUTPUT_PORT",
        "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
        "name" : "HTTP_Response",
        "comments" : ""
      },
      "destination" : {
        "id" : "77070c02-bca7-320f-bf57-738c9edb275c",
        "type" : "OUTPUT_PORT",
        "groupId" : "66cc13a0-2c99-323d-b649-09039cb34c75",
        "name" : "Response",
        "comments" : ""
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    }, {
      "identifier" : "e0ec2bdf-62ec-33ad-a4ab-644522f10779",
      "name" : "",
      "source" : {
        "id" : "e81dc8a2-b417-3e9e-a633-be5fa426d3a4",
        "type" : "PROCESSOR",
        "groupId" : "66cc13a0-2c99-323d-b649-09039cb34c75",
        "name" : "RouteOnAttribute",
        "comments" : ""
      },
      "destination" : {
        "id" : "77070c02-bca7-320f-bf57-738c9edb275c",
        "type" : "OUTPUT_PORT",
        "groupId" : "66cc13a0-2c99-323d-b649-09039cb34c75",
        "name" : "Response",
        "comments" : ""
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "unmatched" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ {
        "x" : 1280.0,
        "y" : 152.0
      }, {
        "x" : 1584.0,
        "y" : 152.0
      }, {
        "x" : 2520.0,
        "y" : 152.0
      } ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    }, {
      "identifier" : "5983bbf5-7d94-39cd-bc13-9b152011acca",
      "name" : "",
      "source" : {
        "id" : "a61b9df9-c51a-3528-b590-28f2fd87f038",
        "type" : "PROCESSOR",
        "groupId" : "66cc13a0-2c99-323d-b649-09039cb34c75",
        "name" : "ЕСИК БП 2.0 КСПД",
        "comments" : ""
      },
      "destination" : {
        "id" : "e81dc8a2-b417-3e9e-a633-be5fa426d3a4",
        "type" : "PROCESSOR",
        "groupId" : "66cc13a0-2c99-323d-b649-09039cb34c75",
        "name" : "RouteOnAttribute",
        "comments" : ""
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "Response", "Failure" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    }, {
      "identifier" : "4057f715-5634-3eef-ac94-1f4b16c3ed8a",
      "name" : "",
      "source" : {
        "id" : "e81dc8a2-b417-3e9e-a633-be5fa426d3a4",
        "type" : "PROCESSOR",
        "groupId" : "66cc13a0-2c99-323d-b649-09039cb34c75",
        "name" : "RouteOnAttribute",
        "comments" : ""
      },
      "destination" : {
        "id" : "5b0bfd9a-01b8-3864-aa47-38209b4615e6",
        "type" : "INPUT_PORT",
        "groupId" : "e4da9d87-4d76-37b6-aa4f-85277151528c",
        "name" : "In",
        "comments" : ""
      },
      "labelIndex" : 1,
      "zIndex" : 0,
      "selectedRelationships" : [ "SAP" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    } ],
    "labels" : [ {
      "identifier" : "ef6c9c51-36c9-3c62-a630-1a31b3974ae9",
      "position" : {
        "x" : 96.0,
        "y" : 232.0
      },
      "label" : "AttorneyValidate",
      "width" : 256.0,
      "height" : 104.0,
      "style" : {
        "font-size" : "14px"
      },
      "componentType" : "LABEL",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    }, {
      "identifier" : "8e71a9cb-3350-3c8f-aa69-a3c9646c4576",
      "position" : {
        "x" : 96.0,
        "y" : 392.0
      },
      "label" : "Степень конфиденциальности\nобщедоступная(запрос)\nобщедоступная(ответ)",
      "width" : 184.0,
      "height" : 64.0,
      "style" : {
        "font-size" : "12px"
      },
      "componentType" : "LABEL",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    }, {
      "identifier" : "56419587-489e-3e84-bd59-ee45d77d2e82",
      "position" : {
        "x" : -408.0,
        "y" : 256.0
      },
      "label" : "POST: /crypto-service/attorneyValidate?senderService=&api-version=1.0&category=0",
      "width" : 480.0,
      "height" : 40.0,
      "style" : {
        "font-size" : "12px"
      },
      "componentType" : "LABEL",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    }, {
      "identifier" : "89f17b94-0feb-3695-8ecc-7c1b89660cd4",
      "position" : {
        "x" : 2392.0,
        "y" : 216.0
      },
      "label" : "HTTP Response",
      "width" : 256.0,
      "height" : 96.0,
      "style" : {
        "background-color" : "#adadad",
        "font-size" : "14px"
      },
      "componentType" : "LABEL",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    } ],
    "funnels" : [ ],
    "controllerServices" : [ {
      "identifier" : "36d10021-e463-322a-af90-92f94d054299",
      "name" : "XMLRecordSetWriter",
      "comments" : "",
      "type" : "org.apache.nifi.xml.XMLRecordSetWriter",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-record-serialization-services-nar",
        "version" : "1.12.1.5"
      },
      "properties" : {
        "omit_xml_declaration" : "false",
        "suppress_nulls" : "never-suppress",
        "Schema Write Strategy" : "no-schema",
        "record_tag_name" : "Root",
        "schema-name" : "${schema.name}",
        "array_wrapping" : "no-wrapping",
        "schema-access-strategy" : "inherit-record-schema",
        "pretty_print_xml" : "true",
        "schema-protocol-version" : "1",
        "schema-text" : "${avro.schema}",
        "Character Set" : "UTF-8"
      },
      "propertyDescriptors" : {
        "array_tag_name" : {
          "name" : "array_tag_name",
          "displayName" : "Array Tag Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-branch" : {
          "name" : "schema-branch",
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "omit_xml_declaration" : {
          "name" : "omit_xml_declaration",
          "displayName" : "Omit XML Declaration",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "root_tag_name" : {
          "name" : "root_tag_name",
          "displayName" : "Name of Root Tag",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-cache" : {
          "name" : "schema-cache",
          "displayName" : "Schema Cache",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Timestamp Format" : {
          "name" : "Timestamp Format",
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Date Format" : {
          "name" : "Date Format",
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "suppress_nulls" : {
          "name" : "suppress_nulls",
          "displayName" : "Suppress Null Values",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Schema Write Strategy" : {
          "name" : "Schema Write Strategy",
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "record_tag_name" : {
          "name" : "record_tag_name",
          "displayName" : "Name of Record Tag",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-name" : {
          "name" : "schema-name",
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-registry" : {
          "name" : "schema-registry",
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Time Format" : {
          "name" : "Time Format",
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "array_wrapping" : {
          "name" : "array_wrapping",
          "displayName" : "Wrap Elements of Arrays",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-access-strategy" : {
          "name" : "schema-access-strategy",
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "pretty_print_xml" : {
          "name" : "pretty_print_xml",
          "displayName" : "Pretty Print XML",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-protocol-version" : {
          "name" : "schema-protocol-version",
          "displayName" : "Schema Protocol Version",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-version" : {
          "name" : "schema-version",
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Character Set" : {
          "name" : "Character Set",
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "4.0.1"
        }
      } ],
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    }, {
      "identifier" : "46eec9e9-4312-31cc-848b-eedbb52a69a7",
      "name" : "JsonTreeReader",
      "comments" : "",
      "type" : "org.apache.nifi.json.JsonTreeReader",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-record-serialization-services-nar",
        "version" : "1.12.1.5"
      },
      "properties" : {
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "Timestamp Format" : {
          "name" : "Timestamp Format",
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-inference-cache" : {
          "name" : "schema-inference-cache",
          "displayName" : "Schema Inference Cache",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Date Format" : {
          "name" : "Date Format",
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-branch" : {
          "name" : "schema-branch",
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-name" : {
          "name" : "schema-name",
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-registry" : {
          "name" : "schema-registry",
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Time Format" : {
          "name" : "Time Format",
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-access-strategy" : {
          "name" : "schema-access-strategy",
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-version" : {
          "name" : "schema-version",
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordReaderFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "4.0.1"
        }
      } ],
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    }, {
      "identifier" : "1d392907-9ee6-31b6-8037-a69a5c1e7193",
      "name" : "JSONJoltWriter",
      "comments" : "",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-record-serialization-services-nar",
        "version" : "1.12.1.5"
      },
      "properties" : {
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-oneline",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-protocol-version" : "1",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-branch" : {
          "name" : "schema-branch",
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "compression-level" : {
          "name" : "compression-level",
          "displayName" : "Compression Level",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-cache" : {
          "name" : "schema-cache",
          "displayName" : "Schema Cache",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Timestamp Format" : {
          "name" : "Timestamp Format",
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Date Format" : {
          "name" : "Date Format",
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Pretty Print JSON" : {
          "name" : "Pretty Print JSON",
          "displayName" : "Pretty Print JSON",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "compression-format" : {
          "name" : "compression-format",
          "displayName" : "Compression Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Schema Write Strategy" : {
          "name" : "Schema Write Strategy",
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "suppress-nulls" : {
          "name" : "suppress-nulls",
          "displayName" : "Suppress Null Values",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "output-grouping" : {
          "name" : "output-grouping",
          "displayName" : "Output Grouping",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-name" : {
          "name" : "schema-name",
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-registry" : {
          "name" : "schema-registry",
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Time Format" : {
          "name" : "Time Format",
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-access-strategy" : {
          "name" : "schema-access-strategy",
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-protocol-version" : {
          "name" : "schema-protocol-version",
          "displayName" : "Schema Protocol Version",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-version" : {
          "name" : "schema-version",
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "4.0.1"
        }
      } ],
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "66cc13a0-2c99-323d-b649-09039cb34c75"
    } ],
    "parameterContextName" : "Сrypto-service",
    "componentType" : "PROCESS_GROUP",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "flowFileConcurrency" : "UNBOUNDED"
  },
  "externalControllerServices" : {
    "12ab6f3d-065e-35b8-b7ca-10da0411e161" : {
      "identifier" : "12ab6f3d-065e-35b8-b7ca-10da0411e161",
      "name" : "StandardHttpContextMap"
    }
  },
  "parameterContexts" : {
    "Payments" : {
      "name" : "Payments",
      "parameters" : [ {
        "name" : "esik_kspd.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://tesb.rosatom.local"
      }, {
        "name" : "sap_iasup.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "test"
      }, {
        "name" : "eos_do.password",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : ""
      }, {
        "name" : "eos_nsi.passwod",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "rdr.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1trdr-s-api01.gk.rosatom.local"
      }, {
        "name" : "dmz_tcm_nc.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://ic-s-tcmtcos01.inter.interatom.local:9180"
      }, {
        "name" : "srm.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "sbis_ois_mcsr.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "addValue"
      }, {
        "name" : "sbis_isupksi.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "C_SO_AET001"
      }, {
        "name" : "gk_bku.password",
        "description" : "1",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "esik1.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://poddb01:51000"
      }, {
        "name" : "eos_nsi.host",
        "description" : "dev: http://rpddb01.gk.rosatom.local:51100\ntest:  http://rptci.gk.rosatom.local:52100\nprod:  http://ppwd.gk.rosatom.local:80",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://rpddb01.gk.rosatom.local:51100"
      }, {
        "name" : "esik_gk_1.0.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "C_SO_TEST002"
      }, {
        "name" : "sap_erp_tse.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "GK_TSE_D"
      }, {
        "name" : "gk_brif_PRE_ALPHA.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1tbrf-s-1capp01.gk.rosatom.local/brif_develop_pre_alpha"
      }, {
        "name" : "sap_erp_gk.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "RED420"
      }, {
        "name" : "sap_erp_tk.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "TED400"
      }, {
        "name" : "gk_upp.password",
        "description" : "psw",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "eos_nsi.ServerName.BP",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "rmddb01"
      }, {
        "name" : "1c_upp.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://10.124.40.78/"
      }, {
        "name" : "gk_litigation.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "MDMTestUser"
      }, {
        "name" : "srm.client",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "100"
      }, {
        "name" : "eos_nsi_lidsend.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://rptci:52100"
      }, {
        "name" : "sap_erp_gk.password",
        "description" : "пароль не указан",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "1c_uh.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://10.124.40.78/"
      }, {
        "name" : "Basic Authentication Password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "1c_erp.user",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "IIS_IUSRS"
      }, {
        "name" : "sap_erp_rea.password",
        "description" : "пароль не указан",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_brif.user",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "TestUser"
      }, {
        "name" : "dmz_tcm_nc.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "tcmnc_user"
      }, {
        "name" : "rdr.username",
        "description" : "уточнить",
        "sensitive" : false,
        "provided" : false,
        "value" : "C_SO_RDR"
      }, {
        "name" : "dmz_tcm_nc.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "GK_TCM_NC_Q"
      }, {
        "name" : "sbis_isupksi.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "NEQ230"
      }, {
        "name" : "eos_nsi.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "pi_service"
      }, {
        "name" : "1c_upp.user",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "IIS_IUSRS"
      }, {
        "name" : "rck.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://core-s-trckj2ee.gk.rosatom.local:8180/RCKAdapterTEST"
      }, {
        "name" : "gk_crm_tk.password",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "Qwerty123?!"
      }, {
        "name" : "sap_erp_tk.client",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "400"
      }, {
        "name" : "gk_brif.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "TestUser"
      }, {
        "name" : "sap_iasup.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "GK_IASUP_D"
      }, {
        "name" : "gk_eos_zakupki.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1tocz-s-1capp01/migration_test"
      }, {
        "name" : "gk_eos_kd.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "1"
      }, {
        "name" : "loc_ebsr.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "LOC_EBSR_D"
      }, {
        "name" : "gk_upp.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://core-s-d1c03"
      }, {
        "name" : "monitor_active.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://10.1.15.65:8080"
      }, {
        "name" : "esik_gk_1.0.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://rxtwd.gk.rosatom.local:80"
      }, {
        "name" : "gk_eos_quality.password",
        "description" : "psw",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "sap_asuia.client",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "100"
      }, {
        "name" : "sap_iasup_mb.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "GK_IASUP_MB_D"
      }, {
        "name" : "gk_eos_zakupki.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "12345"
      }, {
        "name" : "eos_nsi.sldcode",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "BS_MDM_D"
      }, {
        "name" : "sbis_ois_mcsr.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "https://1msr-s-web01.inter.interatom.local"
      }, {
        "name" : "sap_iasup.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "eos_do.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "https://eosdouat.rosatom.local"
      }, {
        "name" : "gk_khd2.login",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : ""
      }, {
        "name" : "gk_bgu.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "WebService"
      }, {
        "name" : "gk_eos_kd.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "eos_nsi.analitics.All_System",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "BSD_ConcernCa_EED,EOS_DO_D"
      }, {
        "name" : "sbis_isupksi.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://neqap01.inter.interatom.local:8020/sap/xi/engine?type=entry"
      }, {
        "name" : "gk_bgu.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "https://1dm1c-s-1c01"
      }, {
        "name" : "monitor_active.user",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "test"
      }, {
        "name" : "monitor_active.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "sap_asuia.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://reddb01.gk.rosatom.local:8010/sap/xi/engine/?type=entry"
      }, {
        "name" : "1c_uh.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_litigation.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "https://3litp-s-exch01.gk.rosatom.local"
      }, {
        "name" : "gk_eos_zakupki.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_eos_quality.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "NC_Costs_Integration"
      }, {
        "name" : "1c_erp.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://10.124.40.78/"
      }, {
        "name" : "gk_upp.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "user"
      }, {
        "name" : "loc_ebsr.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "addValue"
      }, {
        "name" : "sap_srm.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "C_XI_ESIK"
      }, {
        "name" : "sap_erp_gk.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "Y_PI_PRX_RED"
      }, {
        "name" : "sap_erp_tse.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "test"
      }, {
        "name" : "gk_litigation.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "esik_gk_1.0.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "sap_erp_tse.client",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "400"
      }, {
        "name" : "sbis_isupksi.client",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "230"
      }, {
        "name" : "rdr.password",
        "description" : "нет пароля",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_bgu.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "cbr.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "f"
      }, {
        "name" : "loc_ebsr.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://*.*.92.178"
      }, {
        "name" : "landscape",
        "description" : "DEV: D\nTEST: Q\nPROD: P",
        "sensitive" : false,
        "provided" : false,
        "value" : "D"
      }, {
        "name" : "srm.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://rrddb01.gk.rosatom.local:8010/sap/xi/engine/?type=entry"
      }, {
        "name" : "WSDL.host.port.http",
        "description" : "DEV: 30000\nTEST: (не указан)",
        "sensitive" : false,
        "provided" : false,
        "value" : "30000"
      }, {
        "name" : "sap_erp_rea.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "BSD_ConcernCa_EED"
      }, {
        "name" : "sap_erp_rea.client",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "400"
      }, {
        "name" : "eos_nsi.ServerName.Accounts",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "rmddb01"
      }, {
        "name" : "srm.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "C_XI_ESIK"
      }, {
        "name" : "sap_erp_gk.client",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "420"
      }, {
        "name" : "gk_khd2.host",
        "description" : "DEV",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://3dkhd-s-nifi01"
      }, {
        "name" : "sbis_isupksi.password",
        "description" : "x9Q9uT319B",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "da.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1DCA.rosatom.local"
      }, {
        "name" : "1c_upp.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "rck.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "sap_pi"
      }, {
        "name" : "gk_crm_tk.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "Supervisor"
      }, {
        "name" : "sap_srm.client",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "100"
      }, {
        "name" : "gk_eos_quality.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://ic-s-t1c01.inter.interatom.local"
      }, {
        "name" : "gk_erp2.password",
        "description" : "ZsXvZirM",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "sap_erp_tse.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://seddb01.gk.rosatom.local:8010/sap/xi/engine/?type=entry"
      }, {
        "name" : "sap_asuia.password",
        "description" : "пароль не указан",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_crm_tk.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "https://tvelc-s-crmap1.gk.rosatom.local"
      }, {
        "name" : "rck.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "RCK_Q"
      }, {
        "name" : "gk_brif_password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_eos_dogovor.host",
        "description" : "test: http://1tesd-s-1c01n1.inter.interatom.local/test-eosd\nprod: http://1esdz-s-1c01n1.gk.rosatom.local/eosd",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1tesd-s-1c01n1.inter.interatom.local/test-eosd"
      }, {
        "name" : "gk_eos_dogovor.username",
        "description" : "test: Exchange\nprod: Exchange",
        "sensitive" : false,
        "provided" : false,
        "value" : "exchange"
      }, {
        "name" : "sap_erp_rea.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "test"
      }, {
        "name" : "eos_nsi.ftp.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "sap_erp_tk.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "test"
      }, {
        "name" : "gk_bku.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://tsam.rosatom.local"
      }, {
        "name" : "sap_erp_tk.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://10.161.17.69:8000/sap/xi/engine/?type=entry"
      }, {
        "name" : "gk_eos_kd.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "https://kdcamelsoap.rosatom.local"
      }, {
        "name" : "sap_iasup.client",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "100"
      }, {
        "name" : "esik_gk_1.0.user",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "C_SO_TEST001"
      }, {
        "name" : "dmz_iasup_mb.password",
        "description" : "нет пароля",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "rck.DatabaseConnectionURL",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "jdbc:oracle:thin:@10.124.32.13:1521:IBSO"
      }, {
        "name" : "alert.email",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "esik_dev@greenatom.ru"
      }, {
        "name" : "gk_erp2.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://10.124.33.175"
      }, {
        "name" : "skbp.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://core-s-dskbweb1.gk.rosatom.local:9101"
      }, {
        "name" : "da.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "name"
      }, {
        "name" : "rck.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "eos_nsi.accounts_analitics.List_System",
        "description" : "Список систем можно перечислить через \",\"",
        "sensitive" : false,
        "provided" : false,
        "value" : "GK_ERP_GA_D"
      }, {
        "name" : "esik_dmz.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1desb-s-dapp01.gk.rosatom.local:30000"
      }, {
        "name" : "eos_nsi.ftp.SourceDirectory",
        "description" : "dev: /usr/sap/RMD/MDS10/mdm/Distributions/RMD.WORLD_ORCL\ntest: /usr/sap/RMT/MDS00/mdm/Distributions/RMT_ORCL",
        "sensitive" : false,
        "provided" : false,
        "value" : "/usr/sap/RMD/MDS10/mdm/Distributions/RMD.WORLD_ORCL"
      }, {
        "name" : "gk_brif.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "eos_nsi.lid.directory",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "/usr/sap/RMD/MDS10/mdm/distributions/RMD_ORCL/EOS_NSI_BP/Inbound/LIDFromMasssReplicate"
      }, {
        "name" : "eos_nsi.ftp.port",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "21"
      }, {
        "name" : "sap_iasup.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://hrddb01.gk.rosatom.local:8010/sap/xi/engine/?type=entry"
      }, {
        "name" : "sap_erp_rea.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://sapeed.co.rosenergoatom.ru:8000/sap/xi/engine/?type=entry"
      }, {
        "name" : "gk_litigation.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "GK_LITIGATION_D"
      }, {
        "name" : "alert.system",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "esik_kspd_dev"
      }, {
        "name" : "sap_erp_gk.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://reddb01.gk.rosatom.local:8010/sap/xi/engine/?type=entry"
      }, {
        "name" : "dmz_iasup_mb.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "https://hcm-iam.takm.inter.interatom.local"
      }, {
        "name" : "loc_ebsr.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "eos_do.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : ""
      }, {
        "name" : "gk_erp2.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "IIS_IUSRS"
      }, {
        "name" : "sap_srm.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://rrddb01.gk.rosatom.local:8010/sap/xi/engine/?type=entry"
      }, {
        "name" : "sap_srm.password",
        "description" : "дев: hbFow7_hPcF",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "sap_erp_tk.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_erp2.landscape",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "Q"
      }, {
        "name" : "gk_khd2.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "sap_erp_tse.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_bku.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "GK/CORE-AS-TSAM02"
      }, {
        "name" : "sap_asuia.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "test"
      }, {
        "name" : "sbis_ois_mcsr.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "eos_nsi.ftp.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "mdm_user"
      }, {
        "name" : "dmz_tcm_nc.password",
        "description" : "нет пароля",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "WSDL.host.port.https",
        "description" : "DEV: 30001\nTEST: 9443",
        "sensitive" : false,
        "provided" : false,
        "value" : "30001"
      }, {
        "name" : "sap_srm.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "SRD100"
      }, {
        "name" : "gk_brif.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1tbrf-s-1capp01/brif_beta/hs/UnivHTTP/V1"
      }, {
        "name" : "da.password",
        "description" : "psw",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "dmz_iasup_mb.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "gu-tiam-taci22@inter.interatom.local"
      }, {
        "name" : "dmz_iasup_mb.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "GK_IASUP_MB_Q"
      }, {
        "name" : "sap_asuia.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "DER100"
      }, {
        "name" : "rck_db_connect",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "Oracle_RCK_DB"
      }, {
        "name" : "1c_erp.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_eos_dogovor.password",
        "description" : "",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "eos_nsi.accounts.All_System",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "BSD_ConcernCa_EED,EOS_DO_D"
      }, {
        "name" : "eos_nsi.ftp.host",
        "description" : "dev: rmddb01.gk.rosatom.local\ntest: ?\nprod: ?",
        "sensitive" : false,
        "provided" : false,
        "value" : "rmddb01.gk.rosatom.local"
      }, {
        "name" : "gk_crm_tk.sld",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "TK_CRM_P"
      }, {
        "name" : "1c_uh.user",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "IIS_IUSRS"
      }, {
        "name" : "WSDL.esik_bp_2.host",
        "description" : "dev: 1desb-s-app01.gk.rosatom.local\ntest: tesb.rosatom.local",
        "sensitive" : false,
        "provided" : false,
        "value" : "1desb-s-app01.gk.rosatom.local"
      } ],
      "componentType" : "PARAMETER_CONTEXT"
    },
    "Сrypto-service" : {
      "name" : "Сrypto-service",
      "parameters" : [ {
        "name" : "esik_kspd.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1desb-s-app01.gk.rosatom.local:8080"
      }, {
        "name" : "dmz_portal_tvel_tk",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://"
      }, {
        "name" : "gk_erp2.password",
        "description" : "psw",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_erp.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "user"
      }, {
        "name" : "tk_portal_tk.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : ""
      }, {
        "name" : "gk_brif.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "TestUser"
      }, {
        "name" : "pdsm4d.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "https://core-s-dpds01.gk.rosatom.local:18443"
      }, {
        "name" : "gk_rck.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "user"
      }, {
        "name" : "gk_eos_zakupki20.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1tocz-s-1capp01"
      }, {
        "name" : "gk_upp.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://core-s-d1c03"
      }, {
        "name" : "esik1.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://poddb01:51000"
      }, {
        "name" : "adfs.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://10.124.32.59"
      }, {
        "name" : "esik.outline",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "dev"
      }, {
        "name" : "gk_digital_employment.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://integration-pre.tcpe.rosatom.local/"
      }, {
        "name" : "pds_predprod.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "https://core-s-tpds.gk.rosatom.local:8443"
      }, {
        "name" : "gk_erp2.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://10.124.40.78"
      }, {
        "name" : "gk_brif.password",
        "description" : "psw",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_upp.password",
        "description" : "psw",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_erp.password",
        "description" : "psw",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_erp2.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "someUsername"
      }, {
        "name" : "gk_rck.password",
        "description" : "psw",
        "sensitive" : true,
        "provided" : false
      }, {
        "name" : "gk_rck.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://"
      }, {
        "name" : "gk_ecps_smp.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1dsmp-s-web03.gk.rosatom.local"
      }, {
        "name" : "gk_eos_zakupki20_3.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1tocz-s-1capp01"
      }, {
        "name" : "esik_kspd_test.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://tesb.rosatom.local"
      }, {
        "name" : "gk_brif.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1dbrf-s-1capp01"
      }, {
        "name" : "gk_upp.username",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "IIS_IUSRS"
      }, {
        "name" : "gk_eos_zakupki20_2.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://1docz-s-1capp01"
      }, {
        "name" : "gk_erp.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "http://"
      }, {
        "name" : "pds.host",
        "description" : "",
        "sensitive" : false,
        "provided" : false,
        "value" : "https://core-s-tp01.gk.rosatom.local:8443"
      } ],
      "componentType" : "PARAMETER_CONTEXT"
    }
  },
  "flowEncodingVersion" : "1.0",
  "flow" : {
    "identifier" : "Валидация xml файла МЧД и файла подписи",
    "name" : "Валидация xml файла МЧД и файла подписи",
    "description" : "",
    "createdTimestamp" : 0,
    "modifiedTimestamp" : 0,
    "type" : "Flow",
    "versionCount" : 0
  }
}